In [1]:
import pandas as pd
import numpy as np

In [15]:
months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
main_df = pd.DataFrame()

for month in months:
    print(month)
    filepath = f"data/2020{month}-citibike-tripdata.csv"
    df = pd.read_csv(filepath, low_memory=False)
    df = df.sample(frac=0.025, random_state=42)
    main_df = main_df.append(df)
    
main_df = main_df.reset_index(drop=True)

01
02
03
04
05
06
07
08
09
10
11
12

In [16]:
 main_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,314,2020-01-13 19:39:52.1540,2020-01-13 19:45:06.8790,493,W 45 St & 6 Ave,40.756800,-73.982912,495,W 47 St & 10 Ave,40.762699,-73.993012,38206,Subscriber,1975,1
1,326,2020-01-10 12:59:46.1880,2020-01-10 13:05:12.9750,435,W 21 St & 6 Ave,40.741740,-73.994156,509,9 Ave & W 22 St,40.745497,-74.001971,33757,Subscriber,1985,2
2,447,2020-01-07 21:46:12.2240,2020-01-07 21:53:39.5220,513,W 56 St & 10 Ave,40.768254,-73.988639,479,9 Ave & W 45 St,40.760193,-73.991255,39651,Subscriber,1964,1
3,278,2020-01-15 18:32:49.4950,2020-01-15 18:37:27.7820,483,E 12 St & 3 Ave,40.732233,-73.988900,432,E 7 St & Avenue A,40.726218,-73.983799,34141,Subscriber,1994,1
4,697,2020-01-24 08:23:17.0360,2020-01-24 08:34:54.8530,509,9 Ave & W 22 St,40.745497,-74.001971,526,E 33 St & 5 Ave,40.747659,-73.984907,30336,Subscriber,1967,2

In [17]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487672 entries, 0 to 487671
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             487672 non-null  int64
 1   starttime                487672 non-null  object
 2   stoptime                 487672 non-null  object
 3   start station id         487672 non-null  int64
 4   start station name       487672 non-null  object
 5   start station latitude   487672 non-null  float64
 6   start station longitude  487672 non-null  float64
 7   end station id           487672 non-null  int64
 8   end station name         487672 non-null  object
 9   end station latitude     487672 non-null  float64
 10  end station longitude    487672 non-null  float64
 11  bikeid                   487672 non-null  int64
 12  usertype                 487672 non-null  object
 13  birth year               487672 non-null  int64
 14  gender                   487672 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 55.8+ MB

In [18]:
main_df.to_csv("2020_citibike.csv", index=False)